/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.obal {
  width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
  margin: 0 auto; /* pruh je na stránce vycentrovaný */
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

@media (min-width: 320px) {
  ul {
    list-style-type: none;
    margin: 0;
  }

  li {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    padding: 10px;
    color: #887e95;
    font-size: 17px;
  }

  li:hover {
    color: #25133d;
    text-transform: uppercase;
    font-weight: 700;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: white;
    margin: 10px 0 0 50px;
    padding-top: 50px;
  }

  .maly {
    height: 500px;
    background-image: url(images/pozadi.jpg);
    background-repeat: no-repeat;
  }
  .tlacitko {
    position: relative;
    display: inline-block;
    top: -300px;
  }
  .button {
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    padding: 20px;
    border-radius: 10px;
    border: white solid 1px;
    color: white;
    background-color: transparent;
    margin-left: 40px;
  }

  .button:hover {
    background-color: #48418e;
  }

  .mobil {
    position: relative;
    right: -65px;
    bottom: 230px;
  }

  .obrazek {
    height: 90px;
  }

  .obrazek:hover {
    transform: scale(1.2);
    transition: all 1s;
  }
  h3 {
    font-family: "Roboto", sans-serif;
    color: #48418e;
  }
  .treti {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
  }

  .first,
  .second,
  .third {
    padding: 20px;
  }

  .text {
    font-family: "Roboto", sans-serif;
    color: #5c5c5c;
  }

  .paticka {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: #48418e;
    color: white;
    padding: 10px;
    width: 98%;
    margin: 0 30px;
  }

  .popis {
    color: white;
    margin-left: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    padding: 20px;
    margin-top: 0;
  }
}
